# LIST AND ITS DEFAULT FUNCTIONS

In [3]:
lst=['Ramnath',24,9876543210]

In [4]:
lst

['Ramnath', 24, 9876543210]

In [7]:
lst.append('ramnath@gmail.com')

In [8]:
lst

['Ramnath', 24, 9876543210, 'ramnath@gmail.com']

In [9]:
lst.count('Ramnath')

1

In [10]:
lst.count('24')

0

In [13]:
lst.index(24)

1

In [14]:
lst.index('Ramnath')

0

In [15]:
lst.pop(2)

9876543210

In [16]:
lst.remove(24)

In [17]:
lst

['Ramnath', 'ramnath@gmail.com']

In [18]:
lst.reverse()

In [19]:
lst

['ramnath@gmail.com', 'Ramnath']

In [20]:
lst[-1]

'Ramnath'

In [21]:
lst

['ramnath@gmail.com', 'Ramnath']

# DICTIONARY AND ITS DEFAULT FUNCTIONS

In [23]:
dit={'name':'Ramnath','age':'24','mobile number':'8977665543','email id':'ramnath@gmail.com'}

In [24]:
dit

{'name': 'Ramnath',
 'age': '24',
 'mobile number': '8977665543',
 'email id': 'ramnath@gmail.com'}

In [25]:
dit.get('name')

'Ramnath'

In [26]:
dit.get('email id')

'ramnath@gmail.com'

In [27]:
dit.items()

dict_items([('name', 'Ramnath'), ('age', '24'), ('mobile number', '8977665543'), ('email id', 'ramnath@gmail.com')])

In [28]:
dit.keys()

dict_keys(['name', 'age', 'mobile number', 'email id'])

In [29]:
dit.pop('age')

'24'

In [30]:
dit

{'name': 'Ramnath',
 'mobile number': '8977665543',
 'email id': 'ramnath@gmail.com'}

In [31]:
dit.values()

dict_values(['Ramnath', '8977665543', 'ramnath@gmail.com'])

In [32]:
dit.copy()

{'name': 'Ramnath',
 'mobile number': '8977665543',
 'email id': 'ramnath@gmail.com'}

In [33]:
dit

{'name': 'Ramnath',
 'mobile number': '8977665543',
 'email id': 'ramnath@gmail.com'}

# SET AND ITS DEFAULT FUNCTIONS

In [80]:
st={6,98,8,4,2,1,7,'ramnath',9230,'ramu'}

In [81]:
st

{1, 2, 4, 6, 7, 8, 9230, 98, 'ramnath', 'ramu'}

In [40]:
st

{1, 2, 4, 6, 7, 8, 9230, 98, 'ramnath', 'ramu'}

In [43]:
st1={3,8,6,725,5}

In [44]:
st1

{3, 5, 6, 8, 725}

In [45]:
st2={58,26,92,8099}

In [46]:
st2

{26, 58, 92, 8099}

In [47]:
st.intersection(st1)

{6, 8}

In [48]:
st.intersection(st2)

set()

In [49]:
st.difference(st1)

{1, 2, 4, 7, 9230, 98, 'ramnath', 'ramu'}

In [50]:
st.difference(st2)

{1, 2, 4, 6, 7, 8, 9230, 98, 'ramnath', 'ramu'}

In [51]:
st.issubset(st1)

False

In [52]:
st.issubset(st2)

False

In [53]:
st.isdisjoint(st1)

False

In [54]:
st.add(0)

In [55]:
st

{0, 1, 2, 4, 6, 7, 8, 9230, 98, 'ramnath', 'ramu'}

In [56]:
st.pop()

0

In [57]:
st

{1, 2, 4, 6, 7, 8, 9230, 98, 'ramnath', 'ramu'}

In [58]:
st.remove(9230)

In [59]:
st

{1, 2, 4, 6, 7, 8, 98, 'ramnath', 'ramu'}

In [60]:
st.union(st1)

{1, 2, 3, 4, 5, 6, 7, 725, 8, 98, 'ramnath', 'ramu'}

In [61]:
st.symmetric_difference(st1)

{1, 2, 3, 4, 5, 7, 725, 98, 'ramnath', 'ramu'}

# TUPLES AND ITS DEFAULT FUNCTIONS

In [62]:
tp=('ramnath',24,'ramnath@gmail.com')

In [63]:
tp

('ramnath', 24, 'ramnath@gmail.com')

In [64]:
tp.count('ramnath')

1

In [65]:
tp.index(24)

1

In [66]:
tp.index('ramnath@gmail.com')

2

# STRING AND ITS DEFAULT FUNCTIONS

In [67]:
name='Ramanth'
name2='king'

In [68]:
name2

'king'

In [69]:
name

'Ramanth'

In [71]:
name+" "+name2

'Ramanth king'

In [72]:
 name.capitalize()

'Ramanth'

In [73]:
name.count('Ramanth')

1

In [74]:
a=10
b=5
c=a+b

In [75]:
c

15

In [76]:
type(a)

int

In [77]:
a=12.5
b=15.6
c=a/b

In [78]:
c

0.8012820512820513

In [79]:
type(a)

float